## backend
.gradle/
gradlew
gradlew.bat
.run

## frontend
# dependencies
node_modules/
/.pnp
.pnp.js

# testing
/coverage
.env.local
.env.development.local
.env.test.local
.env.production.local

# misc
npm-debug.log*

## other
.DS_Store
.idea/
build/
